body {
    background-color: darkblue;
}

#cookie {
    width: 400px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    cursor: pointer;
}

/*
#cookie:hover {
    transition: 0.5s;
    width: 360px;
}
*/
